@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Bebas Neue', sans-serif; 
 background-color: #0e0e1a;
}


.container {
    max-width: 1100px;
    margin:  0 auto;
}



body {

    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}



.container {
    max-width: 1100px;
    margin: 0 auto;
}
 

.header{
    background-image: linear-gradient(
        rgba(0,0,0,0.2),
        rgba(0,0,0,0.7)
      ),
 url(images/BGR.png);
 background-position: center top;
 background-repeat: no-repeat;
 background-size: cover;
 min-height: 70vh;
 display: flex;
 align-items: center;
}

.section {
    padding: 50px;
  }


.servicios .header {
    background-image: none;
}

.productos .header {
    background-image: none;
}


.contactanos .header{
    background-image: none;


}

.REDES1 {
    margin-top: 80px;
}

.TARJETAS-P {
    display: flex;
    align-items: center;
   gap: 20px;
   margin-bottom: 20px;
   margin-top: 80px;
   color: #ffffff;
    font-size: 20px;
  font-weight: 20;}

  .CODIGOS {
    display: flex;
    align-items: center;
   gap: 20px;
   margin-bottom: 20px;
   margin-top: 150px;
   color: #ffffff;
    font-size: 20px;
  font-weight: 20;
  }


  .HORA {

    display: flex;
    align-items: center;
   gap: 20px;
   margin-bottom: 20px;
   margin-top: 100px;
   color: #ffffff;
    font-size: 20px;
  font-weight: 20;
  }

.servicios .texto-agregado {
    margin-top: 20px; /* Ajusta este valor para cambiar el espacio */
    
  }

  .texto-agregado {
    display: flex;
    align-items: center; 
    font-size: 25px;
    color: #f1ecdc;
    font-weight: 300;}


    
    

    .texto-agregado p {
        margin-left: 20px; /* Espacio entre los elementos de texto */
      }

  
.titulo-con-imagen {
   font-size: 20px;
   font-weight: 100;
}
 

.IMAGEN-LOGO {
    align-content: center;
    gap: 20px;
    display: flex;
    align-items: center; 
    font-size: 20px;
    margin-bottom: 100px;
    margin-top: 50px;
    color: #ffffff;
    font-weight: 20;}


  


.LEMA-SI{
display: flex;
align-items: center;
gap: 20px;
margin-bottom: 20px;
margin-top: 80px;
color: #ffffff;
font-size: 20px;
font-weight: 20;}

   
.POLITICAS-TXT {
    display: flex;
    align-items: center;
   gap: 20px;
   margin-bottom: 20px;
   margin-top: 150px;
   color: #ffffff;
    font-size: 20px;
  font-weight: 20;}


  .AVATAR {
    align-content: center;
    gap: 20px;
    display: flex;
    align-items: center; 
    font-size: 20px;
    margin-bottom: 100px;
    margin-top: 50px;
    color: #ffffff;
    font-weight: 20;}
  












.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
} 

.logo {
    font-size: 35px;
    color: #f1ecdc;
    font-weight: 800;
    
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 30px;
    padding: 20px;
    color: #f1ecdc;
    display: block;
}

.menu .navbar ul li a:hover {
    color: #fedab6;

}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}
.menu label {
    cursor: pointer;
    display: none;

}

.header-content {
    text-align: center;
}
 
.header-txt span {
    font-size: 30px;
    color: #fedab6;
}
 
.header-txt h1 {
    font-size: 120px;
    line-height: 120px;
    color:#f1ecdc;
}

.price {
    display: flex;
    justify-content: space-between;
    border: 1px solid #44444c;
}

.price-1{
    height: 100px;
    width: 300px;
    border-right: 1px solid #44444c;
    padding: 20px;
}

.price-1:last-child {
    border: 0;
}

.price-1 p {
    color: #fff9ed;
    font-size: 20px;
}

.price-1 h3 {
    color: #fff9ed;
    font-size: 30px;
}

.adventur {
    padding: 100px 0;
    text-align: center;
}

span {
    color: #fedab6;
    font-size: 30px;
}

h2 {
    color: #fff9ed;
    font-size: 70px;
    line-height: 70px;
    margin-bottom: 35px;
}

.adventur-content {
    display: flex;
    justify-content: space-between;
    margin-top: 120px;
}
 .adventur-1 {
    padding: 25px 65px;
    display: flex;
    flex-direction: column;
    align-items: center;
 }


 .adventur-1 img {
    width: 170px;
    margin: -120px 0 30px 0;
 }
 .adventur-1 h3 {
    color: #fff9ed;
    font-size: 40px;
    line-height: 45px;
    margin-bottom: 150px;
 }
 .bg-1 {
    background-image: url(images/nose.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 28%;
    height: 400px;
 }

 .bg-2 {
    background-image: url(images/sies.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 28%;
    height: 400px;
 }

 .bg-3 {
    background-image: url(images/quizas.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 28%;
    height: 400px;
 }

 .btn-1 {
    display: inline-block;
    padding: 13px 25px;
    background-color: #d89e67;
    color: #fff9ed;
    font-size: 20px;
 }

 .bg-1:hover {
    background-color: #eeae71;
 }

 .general {
    padding: 100px 0;
    display: flex;
 }

 .general-img {
    width: 50%;
    text-align: center;
 }
 
 .general-img img {
    width: 500px;
}
 
.general-txt {
    width: 50%;

}

.general-txt p {
    font-size: 18px;
    color: #fff9ed;
    margin-bottom: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

.banner {
    padding: 150px 0;
    text-align: center;
    background-image: linear-gradient(
        rgba(0,0,0,0.2),
        rgba(0,0,0,0.2)

    ),
    url(images/SE;AS.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.plan {
    padding: 100px 0;
    text-align: center;

}
.plan-content {
    display: flex;
    justify-content: space-between;
}

.plan-1 {
    padding: 25px;
}
.plan-1 img {
    width: 40px;
    height: 40px;
    margin-bottom: 25px;
}

.plan-1 h3 {
    color: #fff9ed;
    font-size: 30px;
    margin-bottom: 20px;
}

.plan-1 p {
    font-size: 18px;
    color: #fff9ed;
    font-family: Arial, Helvetica, sans-serif;
}

.footer {
    padding: 250px 0 50px 0;
    background-image: linear-gradient(
        rgba(0,0,0,0.2),
        rgba(0,0,0,0.2)
    ),
    url(images/moon.png);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: contain;
}


.footer-content {
    display: flex;
    justify-content: space-between;

}


.footer-content a {
    display: block;
    font-size: 25px;
    color: #fff9ed;
}

.footer-content a:hover {
    color: #fedab6;

}


@media(max-width:991px) {
    .menu {
        padding: 20px;
    }

    .menu label {
        display: initial;
    }
    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #1f1f1f;
        display: none;

    }

    .menu .navbar ul li {
        width: 100%;
    }
    
    #menu:checked ~.navbar {
        display: initial;
    }

.header {
    min-height: 0vh;

}

.header-content {
    padding: 100px 30px;
}

.header-txt h1 {
    font-size: 80px;
    line-height: 80px;

}


.price-1 {
    height: 80px;
    width: 100%;

}

.price-1 p {
    font-size: 15px;

}

.price-1 h3 {
    font-size: 20px;
}

.adventur {
    padding: 30px;
}


h2 {
    margin-bottom: 25px;
}


.adventur-content {
    flex-direction: column;
    align-items: center;
    margin-top: 100px;

}

.adventur-1 {
    width: 70%;
    margin-bottom: 130px;

}

.adventur-1:last-child {
    margin-bottom: 0;
}

.general {
    padding: 30px;
    flex-direction: column;
}

.general-img {
    width: 100%;
    order: 2;

}

.general-img img {
    width: 100%;
}
.general-txt {
    width: 100%;
    text-align: center;
    margin-bottom: 25px;

}
.general-txt p {
    margin-bottom: 25px;

}
.banner{
    padding: 30px;
}


.plan {
    padding: 30px;
}


.plan-content {
    flex-direction: column;
}


.plan-1 {
    padding: 25px 100;
}
.footer {
    padding: 30px;
}

.footer-content {
    flex-direction: column;
    text-align: center;
}

.footer-content a {
    margin-bottom: 40px;
}



}

